.imageModalOverlay {
    align-items: center;

    &.closing {
        animation: disappear .5s forwards;
    }

    @keyframes disappear {
        0% {
            // transform: scale(1);
            opacity: 1;
        }
        60% {
            // transform: scale(0.7);
            opacity: 1;
        }
        100% {
            opacity: 0;
            // transform: scale(0.7);
        }
    }
}

.imageModal {
    outline: 0;
    width: unset;
    height: unset;
    box-shadow: 1px 10px 16px 2px rgba(0, 0, 0, .3);
    border-radius: 6px;
    animation: img-appear .2s;
    overflow: hidden;
    margin-top: 0;

    img {
    }

    &.closing {
        animation: img-disappear .5s;
    }

    @keyframes img-appear {
        from {
            transform: scale(0.85);
            opacity: 0.2;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes img-disappear {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        60% {
            transform: scale(0.7);
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: scale(0.7);
        }
    }
}