@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nandinagari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400&display=swap');

body {
    background-color: $bkg-color-light;
    color: $text-color-light;
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

.page {
    // position: relative;
    // position: absolute;
    // left: calc(50% - 568px);
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    max-width: 1100px;
    height: calc(100vh - 48px);
    padding-left: 96px;
    // overflow: scroll;

    font-family: arial;
    // padding: 32px;

    &.expandable {
        position: fixed;
        overflow: scroll hidden;

        left: calc(50% - 566px);
        max-width: none;
        width: calc(100vw - 50% + 544px);
        height: calc(100vh - 8px);
        padding-left: 66px;
        box-sizing: border-box;
    }

    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .3);  
    }
}

* {
    // font-family: 'Rubik', sans-serif;
    // font-weight: 300;
    // letter-spacing: 0.6px;
}

[data-theme='dark'], [data-theme='dark'] body {
    background-color: $bkg-color-dark;
    color: $text-color-dark;
}

.swal2-container {
    font-family: arial;
}

.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
}

@media (max-width: 1660px) {
    .page {
        left: 272px !important;
        padding-left: 64px;
        margin: 0; 
    }
}