// $sidebar-color-light: #FCFCFC;
$sidebar-color-light: white;
$bkg-color-light: white;
$text-color-light: black;
$tab-button-bkg-light: #e0e0e0;
$tab-button-text-light: black;
$project-header-bkg-light: white;
$primary-border-color-light: rgba(0, 0, 0, .1);
$secondary-border-color-light: rgba(0, 0, 0, .2);
$primary-focus-bkg-color-light: #D9E3FF;
// $primary-focus-bkg-color-light: #ffeafd;
$primary-focus-color-light: #1F3B4D;
// $primary-focus-color-light: #800279;

$sidebar-bkg-dark: rgb(24, 24, 24);
$sidebar-color-dark: rgb(216, 216, 216);
$bkg-color-dark: #1e1e20;
$text-color-dark: rgb(220, 220, 220);
$tab-button-bkg-dark: rgba(white, 0.05);
$tab-button-text-dark: rgb(200, 200, 200);
$project-header-bkg-dark: rgb(30, 30, 30);
// $primary-border-color-dark: rgba(255, 255, 255, .05);
$primary-border-color-dark: rgba(0, 0, 0, .5);
// $secondary-border-color-dark: rgba(255, 255, 255, .1);
$secondary-border-color-dark: rgba(white, .05);
$primary-focus-bkg-color-dark: #1C2B41;
$primary-focus-color-dark: #579dff;

$tab-button-bkg: $tab-button-bkg-light;
$tab-button-text: $tab-button-text-light;

// DARK MODE